<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOme</title>
    <link rel="stylesheet" href="./style.css">
    <!-- kidnly check href at line (15 to 18),33,54 -->
</head>
<body>
    <div id="navbar__main">
        <div id="navbar">
            <span><img src="https://www.mintformations.co.uk/blog/wp-content/uploads/2020/05/shutterstock_583717939.jpg" alt="logo"><h>Wn</h></span>
            
            <li><a href="#">Resume</a></li>
            <li><a href="#">Cover Letter</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">FAQ</a></li>
            
        </div>
    </div>
    <div id="main">
       
            <div id="page1">
                 <div id="page1-1">
                     <h>The Ultimate Resume Builder</h>
                 </div>
                <div id="page1-2">
                    <p>Build beautiful, recruiter-tested resumes in a few clicks! Our resume builder is powerful and easy to use, with a range of amazing functions. Custom-tailor resumes for any job within minutes. Increase your interview chances and rise above the competition.
                        Try for Free
                        </p>
                 </div>
                <div id="page1-3">
                  <a href="#">Try Now</a>
                 </div>
            </div>
            <div id="page2">
                <div id="page2-1">
                    <h>Fresher</h>
                    <h>Teacher</h>
                    <h>Employee</h>
                    <h>Minister</h>
                </div>
                <div id="page2-2">
                    <div id="page2-2-1">
                     
                    </div>
                    <div id="page2-2-2">
                      <div id="page2-2-2-1">
                        <h>Create a resume to land your next job
                        </h>
                      </div>
                      <div id="page2-2-2-2"><p>We have developed a resume builder based on feedback from thousands of users, recruiter expertise, stellar template design and the best hiring practices. The goal is simple: help you land that dream job interview! Get an advantage in the modern professional environment.</p></div>
                      <div id="page2-2-2-3">
                        <a href="#">Build Your Resume</a>
                      </div>
                    </div>
                </div>
                <div id="page2-3">
                    <div class="page2-2-3">
                        <div class="logo">

                        </div>
                        <div class="logo-cont">
                            <h >Powerful and easy to use</h>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem explicabo, est vitae dolorum labore alias similique atque velit amet optio, deleniti voluptatum impedit officiis repellat, eos saepe dolorem possimus exercitationem.</p>
                        </div>
                    </div>
                    <div class="page2-2-3">
                        <div class="logo1">

                        </div>
                        <div class="logo-cont">
                            <h >Customization made simple</h>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem explicabo, est vitae dolorum labore alias similique atque velit amet optio, deleniti voluptatum impedit officiis repellat, eos saepe dolorem possimus exercitationem.</p>
                        </div>
                    </div>
                    <div class="page2-2-3">
                        <div class="logo2">

                        </div>
                        <div class="logo-cont">
                            <h >Template design by expert</h>
                            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem explicabo, est vitae dolorum labore alias similique atque velit amet optio, deleniti voluptatum impedit officiis repellat, eos saepe dolorem possimus exercitationem.</p>
                        </div>
                    </div>
                </div>
            </div>
     </div>
    
</body>
</html>