<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/index.css">
    <title>Portfolio</title>
    
</head>
<body>
  <h1 id="title">Create Your Resume</h1>
  <form method="post" action="" id="resume-form">
    <section>
      <h2>Contact Information</h2>
      <label for="name">Full Name:</label>
      <input type="text" id="name" name="name" required>
      <br>
      <label for="role">Job role:</label>
      <input type="text" id="role" name="role" required>
      <br>
      <label for="email">Email Address:</label>
      <input type="email" id="email" name="email" required>
      <br>
      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone">
      <br>
      <label for="linkedin">LinkedIn Profile URL:</label>
      <input type="url" id="linkedin" name="linkedin" placeholder="linkedin.com/in/yourname">
      <br>
      <label for="github">GitHub Profile URL:</label>
      <input type="url" id="github" name="github" placeholder="github.com/yourusername">
      <br>
    </section>

    <section>
      <h2>Skills</h2>
      <label for="skills">List your relevant technical and soft skills (separate by commas):</label>
      <input type="text" id="skills" name="skills" >
    </section>
    
    <section>
      <h2>Experience</h2>
      <div id="experience">
        <div class="job-entry">
          <label for="job_title">Job Title:</label>
          <input type="text" id="job_title" name="job_title" >
          <label for="company">Company Name:</label>
          <input type="text" id="company" name="company" >
          <br>
          <label for="start_date">Start Date (YYYY_MM):</label>
          <input type="month" id="start_date" name="start_date" >
          <br>
          <label for="end_date">End Date (Present or YYYY_MM):</label>
          <input type="month" id="end_date" name="end_date">
          <br>
          <label for="job_description">Describe your responsibilities and achievements:</label>
          <textarea id="job_description" name="job_description" rows="5" ></textarea>
          <br>
        </div>
      </div>
    </section>
    <section>
        <h2>Summary</h2>
        <label for="summary">Write a brief summary of your skills and experience:</label>
        <textarea id="summary" name="summary" rows="5" ></textarea>
      </section>
      
    <section id="education">
      <h2>Education</h2>
      <label for="degree">Degree Name:</label>
      <input type="text" id="degree" name="degree" >
      <br>
      <label for="university">University Name:</label>
      <input type="text" id="university" name="university" >
    </section>
    <section>
      <h2>Certifications (Optional)</h2>
      <div id="certifications">
        <div class="cert-entry">
          <label for="cert_name">Certification Name:</label>
          <input type="text" id="cert_name" name="cert_name">
          <br>
          <label for="cert_issuer">Issuing Institution:</label>
          <input type="text" id="cert_issuer" name="cert_issuer">
          <br>
          <label for="cert_date">Year Obtained (YYYY):</label>
          <input type="number" min="1900" max="2024" id="cert_date" name="cert_date">
          <br>
        </div>
      </div>
    </section>
    <button type="submit">Generate resume</button>
    <script type="module" src="index.js">  
    </script>  
</body>
</html>